@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dzień dobry!</h1>
    <p>Learn about <a href="https://github.com/hubertciebiada/SampleApp">Github Repo</a>.</p>
</div>
